@model project2BurgerMenu.entites.Product
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<h2>Yeni Ürün Girişi</h2>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Ürün Girşi</h4>
            <form method="post">
                @Html.HiddenFor(x=>x.productId)
                <label>Ürün Adı:</label>
                @Html.TextBoxFor(x => x.Productname, new { @class = "form-control" })
                <br />
                <label>Ürün Fiyatı:</label>
                @Html.TextBoxFor(x => x.Productprice, new { @class = "form-control" })
                <br />
                <label>Ürün Görsel URL:</label>
                @Html.TextBoxFor(x => x.ımageUrl, new { @class = "form-control" })
                <br />
                <label>Ürün Kategori:</label>
                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.V, new { @class = "form-control" })
                <br />
                <label>Ürün Açıklaması:</label>
                @Html.TextAreaFor(x => x.Productdescription, 4, 0, new { @class = "form-control" })
                <br />

                <button class="btn btn-info">Güncelle</button>
            </form>
        </div>
    </div>
</div>

